{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/22c3bb69d6.js" crossorigin="anonymous"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Users</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item ml-1">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item ml-1">
            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
          </li>
          <li class="nav-item ml-1">
            <a class="nav-link" href="{% url 'registration' %}">Sign up</a>
          </li>
          <li class="nav-item ml-1">
            <h3 class="nav-item">
              Hello, {% if user.first_name %}{{ user.first_name }} {% else %} {{ user.username }}{% endif %}
            </h3>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>