<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="results">
<table id="result_list">
<thead>
  <tr>

    <th scope="col" class="action-checkbox-column">

       <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
       <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-username sorted ascending">


           <div class="sortoptions">
             <a class="sortremove" href="?o=" title="Удалить из сортировки"></a>

             <a href="?o=-1" class="toggle ascending" title="Сортировать в другом направлении"></a>
           </div>


       <div class="text"><a href="?o=-1">Имя пользователя</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-email">

       <div class="text"><a href="?o=2.1">Адрес электронной почты</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-first_name">



       <div class="text"><a href="?o=3.1">Имя</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-last_name">

       <div class="text"><a href="?o=4.1">Фамилия</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-is_staff">



       <div class="text"><a href="?o=5.1">Статус персонала</a></div>
       <div class="clear"></div>
    </th>
  </tr>
</thead>
<tbody>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td><th class="field-username"><a href="/admin/auth/user/1/change/">admin</a></th><td class="field-email"></td><td class="field-first_name"></td><td class="field-last_name"></td><td class="field-is_staff"><img src="/static/admin/img/icon-yes.svg" alt="True"></td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="3" class="action-select"></td><th class="field-username"><a href="/admin/auth/user/3/change/">egorius</a></th><td class="field-email">example@mail.ru</td><td class="field-first_name">Egor</td><td class="field-last_name">Petrenko</td><td class="field-is_staff"><img src="/static/admin/img/icon-no.svg" alt="False"></td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="2" class="action-select"></td><th class="field-username"><a href="/admin/auth/user/2/change/">loh</a></th><td class="field-email"></td><td class="field-first_name"></td><td class="field-last_name"></td><td class="field-is_staff"><img src="/static/admin/img/icon-no.svg" alt="False"></td></tr>

</tbody>
</table>
</div>

</body>
</html>